@font-face {
  font-family: 'Studio Feixen Sans';
  src: url('/Fonts/StudioFeixenSans-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Studio Feixen Sans';
  src: url('/Fonts/StudioFeixenSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Studio Feixen Sans';
  src: url('/Fonts/StudioFeixenSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Studio Feixen Sans';
  src: url('/Fonts/StudioFeixenSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

